<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>usuario-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="UsuarioForm"  (ngSubmit)="onFormSubmit(UsuarioForm.value)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombre" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.apellido" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.edad" formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero Cel.</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.fonoContacto" formControlName="numero"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!UsuarioForm.valid">Submit</ion-button>
  </form>
</ion-content>
