<!-- perfil.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" [disabled]="!editing"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email" [disabled]="!editing"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="telefono" [disabled]="!editing"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input [(ngModel)]="direccion" [disabled]="!editing"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="toggleEdit()">Editar</ion-button>
  <ion-button expand="full" (click)="saveChanges()" [disabled]="!editing">Guardar Cambios</ion-button>
</ion-content>