<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>
      <font color="red">Utilizando un Accesador
        <ion-button [routerLink]="['/product-add']">Agregar</ion-button>
      </font>
    </ion-label>
  </ion-item>
  <ion-list padding>
    <ion-item *ngFor="let p of usuarios">
      <ion-icon name="star" slot="start"></ion-icon>
      <ion-label>{{p.nombres }}</ion-label>
      <ion-icon name="information-circle" slot="end"></ion-icon>
      <ion-button [routerLink]="['/actualizar/',p.id]">Edit</ion-button><br />
      <ion-button [routerLink]="['/lerr/',p.id]">Detail</ion-button><br />
    </ion-item>
  </ion-list>

</ion-content>
