<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button [routerLink]="['/home']" fill="clear">Volver</ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-title>Comedia</ion-title>
    <ion-item *ngFor="let producto of productosFantasia">
      <ion-label>
        <h2>{{ producto.nombreprod }}</h2>
        <p>Editorial: {{ producto.editorial }}</p>
        <p>Categoría: {{ producto.categoria }}</p>
        <p>Precio: {{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>