<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="UsuarioForm" (ngSubmit)="onFormSubmit(UsuarioForm.value)">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.correo" formControlName="U-correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombres" formControlName="U-nombres"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.apellidos" formControlName="U-apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.edad" formControlName="U-edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero Cel.</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.fonoContacto" formControlName="U-fonoContacto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.clave" formControlName="U-clave"></ion-input>
    </ion-item>

    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!UsuarioForm.valid">Submit</ion-button>
  </form>
</ion-content>

