<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bienvenido NOMBRE</ion-title>
    </ion-toolbar>
  </ion-header>
      <ion-searchbar placeholder="Busca tu libro favorito"></ion-searchbar>
      <ion-card>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="assets/img/1.png" />
              </ion-thumbnail>
              <ion-label>El Señor de los anillos: El retorno del rey</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="assets/img/pack.png" />
              </ion-thumbnail>
              <ion-label>Pack El Señor de los Anillos + El Hobbit</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="assets/img/4.png" />
              </ion-thumbnail>
              <ion-label>El Señor de los Anillos: Las 2 Torres</ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src="assets/img/2.png" />
              </ion-thumbnail>
              <ion-label>La Comunidad del Anillos</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

</ion-content>
