<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <img src="assets/img/logo final.png"/> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Recupera tu contraseña</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Email" type="email" placeholder="book.f@fantasy.com"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>

    </ion-card-content>
  
    <ion-button [routerLink]="['/login']" fill="clear">Recuperar</ion-button>
  </ion-card>
</ion-content>
