<ion-content class="ion-padding">
  <ion-button expand="block" (click)="setOpen(true)">Registra tu medio de pago</ion-button>
</ion-content>

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Registra tu medio de pago</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Registrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <p>
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre del titular</ion-label>
            <ion-input formControlName="cardHolderName" placeholder="John Doe"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Número de tarjeta de crédito</ion-label>
            <ion-input formControlName="cardNumber" type="text" placeholder="xxxx-xxxx-xxxx-xxxx"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha de vencimiento (MM/YY)</ion-label>
            <ion-input formControlName="expirationDate" type="text" placeholder="MM/YY"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Código de seguridad (CVV)</ion-label>
            <ion-input formControlName="securityCode" type="number" placeholder="123"></ion-input>
          </ion-item>
        </ion-list>
      </p>
    </ion-content>
  </ng-template>
</ion-modal>