<ion-header [translucent]="true">

</ion-header>
<ion-content [fullscreen]="true">
  <div container-alo>  <img src="assets/img/logo final.png"/> </div>

  <div container-pika> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input
      [(ngModel)]="Nombre"
      label="Nombre"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required>
    </ion-input> 
    <br>
    <ion-input
    [(ngModel)]="Password"
    type="password"
    label="Contraseña"
    label-placement="floating"
    fill="outline"
    placeholder=""
    required>
  </ion-input> 
    

    </ion-card-content>
  
    <ion-button [routerLink]="['usuario/usuario-all']" fill="clear">Registrate</ion-button>
    <ion-button  fill="clear" class="boton_registro"  [disabled]="!login()" [routerLink]="['/home']">Ingresar</ion-button>
  </ion-card>
  </div>
  <ion-button [routerLink]="['/recuperar']" fill="clear">¿Olvidaste tu contraseña?</ion-button>
</ion-content>
