<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>lerr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{Usuario.correo}}</ion-card-title>
    </ion-card-header>

    <ion-card-header>
      <ion-card-title>{{Usuario.nombres}}</ion-card-title>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>{{Usuario.apellidos}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <p>Edad : </p>
        <p>{{Usuario.edad | currency}}</p>
      </ion-item>
      <ion-item>
        <p>Numero : </p>
        <p>{{Usuario.fonoContacto}}</p>
      </ion-item>
      <ion-card-header>
        <ion-card-title>{{Usuario.clave}}</ion-card-title>
      </ion-card-header>

      <ion-button type="button" shape="round" color="primary" expand="block" href="/actualizar/{{Usuario.id}}">Editar</ion-button>
      <ion-button type="button" shape="round" color="danger" expand="block" (click)="delete(Usuario.id)">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>