<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>El señor de los anillos</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-buscador></app-buscador>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/comunidas.png" />
    </ion-thumbnail>
    <ion-label>El señor de los anillos 1</ion-label>
    <app-libro1></app-libro1>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/rey.png" />
    </ion-thumbnail>
    <ion-label>El Señor de los Anillos:el retorno del rey </ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/dostorres.png" />
    </ion-thumbnail>
    <ion-label>El Señor de los Anillos: Las dos torres</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/estuche.png" />
    </ion-thumbnail>
    <ion-label>Pack El Señor de los Anillos + El Hobbit</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/comunidas.png" />
    </ion-thumbnail>
    <ion-label>El señor de los anillos: La comunidad del anillo</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/trilogia.png" />
    </ion-thumbnail>
    <ion-label>El señor de los anillos: trilogia</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/comunidas.png"/>
    </ion-thumbnail>
    <ion-label>Estuche El señor de los anillos</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/rey.png" />
    </ion-thumbnail>
    <ion-label>El señor de los anillos: el retorno del rey</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/hobbit.png" />
    </ion-thumbnail>
    <ion-label>El Hobbit</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>

  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/img/dostorres.png" />
    </ion-thumbnail>
    <ion-label>El señor de los anillos: Las 2 torres</ion-label>
    <ion-button>Comprar</ion-button>
  </ion-item>
  <app-modal></app-modal>
 
</ion-content>
