<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="UsuarioForm" (ngSubmit)="onFormSubmit(UsuarioForm.value)">
    <ion-item>
      <ion-label >Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombre" formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.apellido" formControlName="apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Edad</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.edad" formControlName="edad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label >Numero Cel.</ion-label>
      <ion-input type="number" [(ngModel)]="usuario.fonoContacto" formControlName="fonoContacto"></ion-input>
    </ion-item>

    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!UsuarioForm.valid">Submit</ion-button>
  </form>
</ion-content>
