<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/home']" fill="clear">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombreprod" formControlName="prod_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">codigo</ion-label>
      <ion-input type="text" [(ngModel)]="producto.codigo" formControlName="codigo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" formControlName="prod_price"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.cantidad" formControlName="prod_cantidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Editorial</ion-label>
      <ion-textarea [(ngModel)]="producto.editorial" formControlName="prod_edito"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoria</ion-label>
      <ion-input type="text" [(ngModel)]="producto.categoria" formControlName="prod_cate"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block"
      [disabled]="!productForm.valid">Submit</ion-button>
  </form>
</ion-content>
