<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>usuario-all</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header >
    <ion-toolbar>
      <ion-title size="large">manten</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>ID:</ion-label>
    <ion-label>{{usuario.id}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.email">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nombre">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Apellido:</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.apellido">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Edad:</ion-label>
    <ion-input type="number" [(ngModel)]="usuario.edad">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Numero Cel.: </ion-label>
    <ion-input type="number" [(ngModel)]="usuario.fonoContacto">
    </ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button disabled={{buttonLeerDisabled}} (click)="leer()" color="danger" expand="block">Leer
        Registro</ion-button>
      <ion-button (click)="grabarActualizarAutomatico()" color="danger" expand="block">Grabar Automático</ion-button>
      <ion-button disabled={{buttonEliminarDisabled}} (click)="eliminar()" color="danger" expand="block"><ion-icon
          name="trash"></ion-icon>Eliminar
        Registro </ion-button>
      <ion-button disabled={{buttonCrearDisabled}} (click)="grabar()" color="danger" expand="block">Crear
        Registro<ion-icon name="md-checkmark" item-end></ion-icon></ion-button>
      <ion-button disabled={{buttonActualizarDisabled}} (click)="actualizar()" color="danger" expand="block">Actualizar
        Registro</ion-button>


      <ion-button *ngIf="usuario.id" ion-button full color="danger" item-end icon-right (click)="eliminar()">
        Remove
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-col>

  </ion-row>

</ion-content>
