<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
    <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-title>AQUI VA EL NOMBRE</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">Elije un genero1</ion-content>
      </ion-menu>
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Bienvenido NOMBRE</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
      <ion-searchbar placeholder="Busca tu libro favorito"></ion-searchbar>
</ion-content>
