<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
 <div container-ola> <img src="assets/img/logo final.png"/>  </div>

    <div container-regis>      
   <ion-card>
    <ion-card-header>
      <ion-card-title>Registrate en BookFantasy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input
      [(ngModel)]="nombre"
      label="Nombres"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required>
    </ion-input> 
    <br>
      <ion-input
      [(ngModel)]="Password"
      type="password"
      label="Contraseña"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required>
    </ion-input> 
    <br>
      <ion-input
      [(ngModel)]="email"
      label="Email"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required>
    </ion-input> 
    <br>
      <ion-input
      [(ngModel)]="Telefono"
      label="Telefono"
      label-placement="floating"
      fill="outline"
      placeholder=""
      required>
    </ion-input> 
    <br>
    <ion-input
    [(ngModel)]="Direccion"
    label="Direccion"
    label-placement="floating"
    fill="outline"
    placeholder=""
    required>
  </ion-input> 
  <br>
  

    </ion-card-content>
    <ion-button fill="clear" class="boton_registro" [disabled]="!validarFormulario()" [routerLink]="['/home']">Registrarse</ion-button>
  </ion-card>
  </div>
</ion-content>
