<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
 <div container-ola> <img src="assets/img/logo final.png"/>  </div>

    <div container-regis>      
   <ion-card>
    <ion-card-header>
      <ion-card-title>Registrate en BookFantasy</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="Nombre" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="Password" type="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="Email" type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Teléfono</ion-label>
        <ion-input [(ngModel)]="Telefono" type="tel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input [(ngModel)]="Direccion" type="text" required></ion-input>
      </ion-item>
  

    </ion-card-content>
    <ion-button fill="clear"expand="full" (click)="register()">Registrarse</ion-button>
  </ion-card>
  </div>
</ion-content>
